@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@font-face {
    font-family: 'Batman';
    src: url('../media/batmfa__.ttf') format('truetype');
}

:root{
    --fonte01: 'Kdam Thmor Pro';
    --fonte02: 'Batman';

    --cor00: #000000;
    --cor01: #f0f8ff;
    --cor02: #d21617;
    --cor03: #fff;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: var(--cor00);
}

main{
    background-color: var(--cor03);
    width: 95%;
    min-width: 355px;
    margin: auto;
    padding: 10px;
    box-shadow: inset 0px 0px 8px 4px rgba(0, 0, 0, 0.384);
}

h1.title{
    text-align: center;
    font-size: 2em;
    font-family: var(--fonte02);
    margin-top: 35px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

article{
    width: 100%;
}

form{
    font-family: var(--fonte01);
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid rgba(0, 0, 0, 0.411);
}

form h1{
    font-size: 1.5em;
    margin-bottom: 15px;
    padding: 5px;
}

form hr{
    width: 90%;
}

#message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input{
    text-indent: 5px;
}

textarea, input{
    font-family: var(--fonte01);
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

textarea:focus, input:focus{
    border: 0px;
}

textarea{
    border-left: 1px solid gray;
    resize: none;
}

.button{
    width: 100%;
    border: none;
    background-color: var(--cor02);
    font-family: var(--fonte02);
    font-weight: bold;
    height: 25px;
    cursor: pointer;
    transition: 1s;
}

#comentarios{
    display: grid;
    row-gap: 30px;
}

.comment-right{
    display: flex;
    justify-content: space-between;
}

.comment-right p{
    margin-left: 15px;
}

.comment-left{
    display: flex;
    flex-direction: row-reverse;
    text-align: end;
}

.comment-left p{
    margin-right: 15px;
}

p{
    width: 70%;
    font-family: var(--fonte01);
    font-size: 0.9em;
}

.fotos{
    height: 250px;
    width: 200px;
}

@media (min-width: 768px){
    form{
        width: 80%;
        margin: auto;
        height: 278px;
    }

    form h1{
        font-size: 2em;
    }

    input, textarea{
        font-size: 1.2em;
    }

    textarea{
        height: 70%;
    }

    hr{
        margin-bottom: 40px;
    }

    .button{
        height: 40px;
    }

    #comentarios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .comment-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
    }

    .comment-right p{
        position: relative;
        left: 50%;
        transform: translate(-60%);
    }

    .comment-left{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .comment-left p{
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .fotos{
        width: 80%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }
}